.wrapper{
  width: 800px;
  align-content: center;
  margin: auto;
  display: grid;
  gap: 20px;
}

.input-half{
  height: 50px;
  width: 250px;
  padding: 10px;
}

.dropdown{
  width: 100px;
}

.input-area{
  height: 300px;
  padding: 10px;
}

.wrap-inline{
  display: flex;
  justify-content: space-between;
}

.form-box{
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
