.wrapper{
  width: 1200px;
  align-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 500px 500px ;
  grid-template-rows: 100px 100px ;
}

.input-title{
  height: 50px;
  
}

.form-box{
  width: 1200px;
  margin: auto;

}

.grid-test{
  display: grid;
}